body{
  margin: 0px;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  background-color: #DEE5D4;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 5px 10px 5px 5px;
  
}
header img{
  height: 50px;
  
}
.cabecera{
  display: none;
}
.NavBar{
  grid-area: navbar;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #A5B68D;
  padding-top: 20px;
 
}
.icono img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
}
.grid-container{
  margin: 0;

}

footer{
  grid-area: footer;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #DA8359;
}
.redesSociales{
  display: flex;
  justify-content: space-around ;
  align-items: center;
  gap: 10px;
}
.Productos{
  grid-area: productos;
  align-items: center;

}
.Productos {
  height: 75px;
  position: relative;
  overflow: hidden;
}

.banner {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  animation: mover 20s infinite linear;
}

@keyframes mover {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.input-buscador{
 
  width: 95%;
  padding: 10px;
  margin-left: 2px;
  border-color: rgb(227, 225, 225);
  border-radius: 5px;
  background-color: rgb(240, 239, 239);
}
.CafeyTe{
  grid-area: cafeyte;
  background-color: #ECDFCC;
}
.menu{
  grid-area: menu;
  background-color: #eceadc;
}
.menu h2{
  text-align: center;
}
.CafeyTe , .menu{
  margin: 0px;
  padding: 10px;
}
.descripcion p{
  text-align: justify;
}
.tipo{
  width: 250px;
  height: 350px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease-in-out;
}
.tipo:hover{
  background-color: #A5B68D;
  box-shadow: 20px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
.tipo img{
  width: 250px;
  height: 300px;
  border: 1px solid;
}
.precio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.tarjeta{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (min-width : 576px) {
  .grid-container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
      'navbar productos'
      'navbar cafeyte'
      'navbar menu'
      'navbar footer'
      ; 
  }
  .NavBar{
    display: flex;
    flex-direction: column;
    flex-wrap: unset;
    justify-content: unset;

  }
  .Productos{
    background-color: rgb(234, 230, 230);
  }
  .icono{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .icono img{
    height: none;
    width: none;
    border-radius: 50%;
    padding-bottom: 0;
    margin-left: 10px;
    
/*    object-fit: cover; */
  }
  .icono p{
    margin-top: 0;
    padding-left: 10px;
  }
  .cabecera{
    display: contents;
    cursor: pointer;
  }
  #desplegable{
    display: none;
  }
  .CafeyTe{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .cafe , .te{
    margin: 0 10px;
  }
  .logo {
    display: flex;
    height: 150px;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .logo .logo-imagen {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation: cambiar-imagen 2s infinite;
  }
  
  @keyframes cambiar-imagen {
    0% {
      background-image: url(/assets/imgs/logo_mov1.png);
    }
    25% {
      background-image: url(/assets/imgs/logo_mov2.png);
    }
    50% {
      background-image: url(/assets/imgs/logo_mov3.png);
    }
    75% {
      background-image: url(/assets/imgs/logo_mov4.png);
    }
    100% {
      background-image: url(/assets/imgs/logo_mov1.png);
    }
  }
}